<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
        <h2>Log In</h2>
        <div>
            <label for="userName">User Name</label>
            <input type="text" name="userName" formControlName="userName" required placeholder="Enter User Id">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name='password' formControlName='password' required placeholder="Enter Password">
        </div>
        <div>
            <button [disabled]='loginForm.invalid' type="submit">Log In</button>
        </div>
    </form>

    <div *ngIf='errorMessage' class="error">
        {{errorMessage}}
    </div>
</div>